<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [historias]="graficos.grafico1.data" [chartType]="graficos.grafico1.type" [labels]="graficos.grafico1.labels"></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [historias]="graficos.grafico2.data" [chartType]="graficos.grafico2.type" [labels]="graficos.grafico2.labels"></app-grafico-dona>
      </div>
    </div>
  </div>



</div>
<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [historias]="graficos.grafico3.data" [chartType]="graficos.grafico3.type" [labels]="graficos.grafico3.labels"></app-grafico-dona>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [historias]="graficos.grafico4.data" [chartType]="graficos.grafico4.type" [labels]="graficos.grafico4.labels"></app-grafico-dona>
      </div>
    </div>
  </div>



</div>
